@import "variables";
@import "mixins";
@import "fonts";

// Main Styles
body {
  font-family: $font-primary;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $font-primary;
  line-height: $body-font-line-height;
  letter-spacing: $body-font-letter-spacing;
  position: relative;
  background-color: $color-neutral;
  color: $color-text;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s;
  transition-delay: 0.2s;
  @include md-screen-down {
    font-size: $p-mobile-size;
  }
  &.scroll {
    overflow-y: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: $font-secondary;
}
h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
  color: $h1-color;
  @include md-screen-down {
    font-size: $h1-mobile-size;
  }
}
h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  color: $h2-color;
  @include md-screen-down {
    font-size: $h2-mobile-size;
  }
}
h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
  color: $h3-color;
  @include md-screen-down {
    font-size: $h3-mobile-size;
  }
}
h4 {
  font-size: $h4-size;
  font-weight: $h4-weight;
  color: $h4-color;
  @include md-screen-down {
    font-size: $h4-mobile-size;
  }
}
h5 {
  font-size: $h5-size;
  font-weight: $h5-weight;
  color: $h5-color;
  @include md-screen-down {
    font-size: $h5-mobile-size;
  }
}
h6 {
  font-size: $h6-size;
  font-weight: $h6-weight;
  color: $h6-color;
  @include md-screen-down {
    font-size: $h6-mobile-size;
  }
}
p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: $p-size;
  font-weight: $p-weight;
  font-family: $font-primary;
  color: $p-color;
  @include md-screen-down {
    font-size: $p-mobile-size;
  }
}
a {
  font-size: $a-size;
  font-weight: $a-weight;
  font-family: $font-primary;
  color: $a-color;
  text-decoration: underline;
  @include md-screen-down {
    font-size: $a-mobile-size;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $color-primary;
  }
}
img {
  width: 100%;
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
.module {
  padding: 100px 0;
  @include md-screen-down {
    padding: 50px 0;
  }
  .module-content {
    margin-bottom: 30px;
    i {
      color: $color-black;
      font-weight: 700;
    }
  }
}
.center {
  justify-content: center;
  align-items: center;
}
.bg-neutral {
  background-color: $color-neutral;
}
.container-fluid {
  padding: 0;
}
.container {
  @media (min-width: 1350px) {
    max-width: 1350px !important;
  }
}
.container-xl {
  @media (min-width: 1450px) {
    max-width: 1450px !important;
  }
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.p-0 {
  padding: 0;
}
.shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.03), 0 20px 30px rgba(0, 0, 0, 0.1);
}
// Primary Button
.primary-btn {
  display: inline-block;
  background-color: $color-primary;
  color: $color-white;
  border: 2px solid $color-primary;
  border-radius: 10px;
  width: fit-content;
  padding: 8px 20px;
  font-size: 16px;
  font-family: $font-secondary;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
  }
  & + .primary-btn {
    @include md-screen-up {
      flex-flow: wrap;
      margin-left: 5px;
    }
  }
  &.clear {
    background-color: transparent;
    border: 2px solid $color-danger;
    color: $color-danger;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-danger;
      color: $color-white;
    }
  }
}
// Header
header {
  display: flex;
  width: 100%;
  background-color: $color-neutral;
  text-align: center;
  .container-fluid {
    padding: 0;
  }
  .row-header {
    padding-bottom: 50px;
    @include lg-screen-down {
      padding-bottom: 30px;
    }
  }
}
// Footer
footer {
  background-color: $color-primary;
  text-align: center;
  padding: 20px 0;
  p {
    color: $color-white;
    margin-bottom: 0;
    font-size: 14px;
  }
}
// Row Signature
.row-signature {
  text-align: center;
  padding-top: 0;
  h2 {
    font-size: 30px;
  }
  label {
    color: $color-primary;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: 2px solid $color-black;
    border-radius: $border-radius-xs;
    &::placeholder {
      font-size: 18px;
    }
  }
  select {
    text-align: center;
    font-size: 18px;
    border: 2px solid $color-black;
    border-radius: $border-radius-xs;
    height: 36px;
    @include md-screen-down {
      width: 100%;
    }
    option {
      padding: 10px 0;
    }
  }
  button {
    white-space: nowrap;
  }
  h2 {
    @include lg-screen-down {
      margin-top: 20px;
    }
  }
  .control-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 20px;
    @include xl-screen-down {
      padding: 10px;
    }
    @include md-screen-down {
      width: 100%;
    }
  }
  @include md-screen-down {
    button {
      width: 100%;
      & + button {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 40px;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    @include xl-screen-down {
      flex-flow: column;
    }
    .pen-controls {
      label {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      #penWidthValue {
        font-size: 25px;
      }
    }
    .color-controls {
      .color-picker-controls {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        #colorPicker {
          margin-bottom: 10px;
          width: 100%;
          height: 36px;
        }
      }
    }
  }
  .text-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 40px;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    @include xl-screen-down {
      flex-flow: column;
      align-items: center;
    }
    .control-box {
      margin-bottom: 20px;
      @include xl-screen-down {
        margin-bottom: 10px;
      }
    }
    .inner-wrapper {
      display: flex;
      align-items: flex-start;
      @include md-screen-down {
        flex-flow: wrap;
        justify-content: center;
      }
    }
  }
  .export-controls {
    flex-flow: nowrap;
    @include md-screen-down {
      flex-flow: wrap;
    }
  }
  .canvas-header {
    @include lg-screen-up {
      margin-top: 50px;
    }
  }
  .canvas-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    padding: 20px 40px;
    canvas {
      border: 2px solid $color-black;
      margin: 40px 0;
      @include lg-screen-down {
        width: 100%;
        max-width: 500px;
      }
    }
    .canvas-controls {
      flex-flow: nowrap;
      @include md-screen-down {
        flex-flow: wrap;
      }
    }
  }
  .controls,
  .text-controls {
    justify-content: center;
    @include md-screen-up {
      height: 300px;
    }
  }
}
